# 数据库
*.sqlite3
*.db
*.sqlite

# 构建产物
.next/
.cache/
node_modules/

# 临时脚本
start_*.sh
site/
kb.db

# 构建清单
BUILD_ID
app-build-manifest.json
app-path-routes-manifest.json
build-manifest.json
build.tar.gz
export-marker.json
images-manifest.json
next-minimal-server.js.nft.json
next-server.js.nft.json
prerender-manifest.json
react-loadable-manifest.json
required-server-files.json
routes-manifest.json
trace
static/
cache/
